<div
    class="cell"
    [tuiHint]="hint"
>
    @if (episode().topRated) {
        <div class="cell-top"></div>
    }

    {{ episode().rating }}
</div>

<ng-template #hint>
    @if (episode().topRated) {
        <tui-chip
            appearance="accent"
            size="xxs"
        >
            Top-Rated
        </tui-chip>
    }
    <h2 class="title">{{ episode().title }}</h2>
    <img
        alt=""
        class="image"
        [src]="episode().img"
    />
    <div class="votes">({{ episode().votes }})</div>
</ng-template>
